<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638523870618-8hvqjlanj1rm2nb60vvs0ihbcnlf1s2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638523870618-8hvqjlanj1rm2nb60vvs0ihbcnlf1s2l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>638523870618-09o2tvsb9rji6ciga45ltoi9cakdoqkq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCe9yryJhxt3wMXwR4QgOPg3qocNYEci2w</string>
	<key>GCM_SENDER_ID</key>
	<string>638523870618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-374e4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-374e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638523870618:ios:933e3a7400f849e90b3e23</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-clone-374e4.firebaseio.com</string>
</dict>
</plist>